docs/production-reference/configs/webapps/shared/iwemail.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Alfredo Celestial (Blockade Systems Corp.) --><!--W3C Schema generated by XMLSPY v2004 rel. 4 U (http://www.xmlspy.com)--><xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">	<xs:element name="From" type="xs:string"/>	<xs:element name="IWEMail">		<xs:complexType>			<xs:sequence>				<xs:element ref="To" maxOccurs="unbounded"/>				<xs:element ref="Cc" minOccurs="0" maxOccurs="unbounded"/>				<xs:element ref="Bcc" minOccurs="0" maxOccurs="unbounded"/>				<xs:element ref="From"/>				<xs:element ref="Subject"/>				<xs:element ref="Message"/>				<xs:element name="Attachment" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>			</xs:sequence>			<xs:attribute name="Debug" type="xs:boolean" use="required"/>		</xs:complexType>	</xs:element>	<xs:element name="Message" type="xs:string"/>	<xs:element name="Subject" type="xs:string"/>	<xs:element name="To" type="xs:string"/>	<xs:element name="Cc" type="xs:string"/>	<xs:element name="Bcc" type="xs:string"/></xs:schema>