schemas/im-config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

    <xs:annotation>
        <xs:documentation>
            XSD Schema for InterWeave Integration Manager Configuration (config.xml)

            This schema defines the structure for integration manager (business daemon) configuration files
            located at: workspace/{project}/configuration/im/config.xml

            The Integration Manager controls integration flows, manages scheduled transactions,
            and coordinates communication with transformation servers.

            Version: 1.0
            Created: 2026-01-08
        </xs:documentation>
    </xs:annotation>

    <!-- Root element for Business Daemon / Integration Manager Configuration -->
    <xs:element name="BusinessDaemonConfiguration">
        <xs:annotation>
            <xs:documentation>
                Root configuration element for the Integration Manager (Business Daemon).
                Defines server endpoints, scheduling behavior, database connections, and failover settings.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <!-- Basic Configuration Attributes -->
            <xs:attribute name="Name" type="xs:string" use="required">
                <xs:annotation>
                    <xs:documentation>
                        Unique identifier for this integration manager instance.
                        Example: "BD1", "IM_Production", "IM_Dev"
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>

            <xs:attribute name="HartbeatInterval" type="xs:nonNegativeInteger" use="required">
                <xs:annotation>
                    <xs:documentation>
                        Heartbeat interval in milliseconds for health monitoring.
                        Set to "0" to disable heartbeat monitoring.
                        Typical values: 0 (disabled), 5000 (5 seconds), 10000 (10 seconds)
                        Used for cluster coordination and health checks.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>

            <xs:attribute name="RefreshInterval" type="xs:positiveInteger" use="required">
                <xs:annotation>
                    <xs:documentation>
                        Configuration refresh interval in milliseconds.
                        How often the daemon checks for configuration changes.
                        Typical values: 1000 (1 second), 5000 (5 seconds), 10000 (10 seconds)
                        Lower values provide faster configuration updates but increase database load.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>

            <!-- Transformation Server URLs - Primary Set -->
            <xs:attribute name="PrimaryTSURL" type="URLType" use="required">
                <xs:annotation>
                    <xs:documentation>
                        Primary transformation server URL for general transformations.
                        Example: "http://127.0.0.1:8080/iwtransformationserver"
                        This is the main endpoint for XSLT transformation operations.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>

            <xs:attribute name="SecondaryTSURL" type="URLType" use="required">
                <xs:annotation>
                    <xs:documentation>
                        Secondary (failover) transformation server URL.
                        Leave empty ("") if no secondary server is configured.
                        Used automatically if primary server is unavailable.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>

            <!-- Transformation Server URLs - Transaction Set -->
            <xs:attribute name="PrimaryTSURLT" type="URLType" use="required">
                <xs:annotation>
                    <xs:documentation>
                        Primary transformation server URL for transaction flows.
                        Example: "http://127.0.0.1:8080/iwtransformationserver"
                        Dedicated endpoint for scheduled transaction processing.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>

            <xs:attribute name="SecondaryTSURLT" type="URLType" use="required">
                <xs:annotation>
                    <xs:documentation>
                        Secondary transformation server URL for transaction flows.
                        Leave empty ("") if no secondary server is configured.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>

            <!-- Transformation Server URLs - Alternate Set 1 -->
            <xs:attribute name="PrimaryTSURL1" type="URLType" use="optional" default="">
                <xs:annotation>
                    <xs:documentation>
                        Alternate primary transformation server URL (Set 1).
                        Used for load balancing or specialized transformation processing.
                        Leave empty ("") if not used.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>

            <xs:attribute name="SecondaryTSURL1" type="URLType" use="optional" default="">
                <xs:annotation>
                    <xs:documentation>
                        Alternate secondary transformation server URL (Set 1).
                        Leave empty ("") if not used.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>

            <xs:attribute name="PrimaryTSURLT1" type="URLType" use="optional" default="">
                <xs:annotation>
                    <xs:documentation>
                        Alternate primary transformation server URL for transactions (Set 1).
                        Leave empty ("") if not used.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>

            <xs:attribute name="SecondaryTSURLT1" type="URLType" use="optional" default="">
                <xs:annotation>
                    <xs:documentation>
                        Alternate secondary transformation server URL for transactions (Set 1).
                        Leave empty ("") if not used.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>

            <!-- Transformation Server URLs - Data Operations -->
            <xs:attribute name="PrimaryTSURLD" type="URLType" use="optional" default="">
                <xs:annotation>
                    <xs:documentation>
                        Primary transformation server URL for data operations.
                        Used for data queries and utility flows.
                        Example: "http://127.0.0.1:8080/iwtransformationserver"
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>

            <xs:attribute name="SecondaryTSURLD" type="URLType" use="optional" default="">
                <xs:annotation>
                    <xs:documentation>
                        Secondary transformation server URL for data operations.
                        Leave empty ("") if not used.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>

            <!-- Failover Configuration -->
            <xs:attribute name="FailoverURL" type="URLType" use="required">
                <xs:annotation>
                    <xs:documentation>
                        Failover endpoint URL for disaster recovery.
                        Leave empty ("") if failover is not configured.
                        Used when both primary and secondary servers are unavailable.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>

            <!-- Server Role and Behavior -->
            <xs:attribute name="IsPrimary" type="BooleanFlag" use="required">
                <xs:annotation>
                    <xs:documentation>
                        Indicates if this is the primary integration manager in a cluster.
                        Set to "1" for primary, "0" for secondary/standby managers.
                        Only the primary manager actively processes scheduled flows.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>

            <xs:attribute name="RunAtStartUp" type="BooleanFlag" use="required">
                <xs:annotation>
                    <xs:documentation>
                        Enable automatic flow execution at daemon startup.
                        Set to "1" to start scheduled flows immediately on startup.
                        Set to "0" to require manual activation.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>

            <xs:attribute name="BufferSize" type="xs:positiveInteger" use="required">
                <xs:annotation>
                    <xs:documentation>
                        Buffer size in kilobytes for message processing.
                        Typical values: 512, 1024, 2048, 4096
                        Larger buffers improve performance for large messages but consume more memory.
                        Recommended: 1024 for most use cases
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>

            <!-- Hosting Configuration -->
            <xs:attribute name="IsHosted" type="BooleanFlag" use="required">
                <xs:annotation>
                    <xs:documentation>
                        Indicates if running in hosted/multi-tenant mode.
                        Set to "1" for hosted environments with database configuration.
                        Set to "0" for standalone/local mode.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>

            <!-- Database Configuration for Hosted Mode -->
            <xs:attribute name="hostedDriver" type="xs:string" use="optional">
                <xs:annotation>
                    <xs:documentation>
                        JDBC driver class name for hosted database connection.
                        Required when IsHosted="1"
                        Examples:
                        - MySQL: "com.mysql.cj.jdbc.Driver"
                        - PostgreSQL: "org.postgresql.Driver"
                        - Oracle: "oracle.jdbc.OracleDriver"
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>

            <xs:attribute name="hostedURL" type="xs:string" use="optional">
                <xs:annotation>
                    <xs:documentation>
                        JDBC connection URL for hosted database.
                        Required when IsHosted="1"
                        Examples:
                        - MySQL: "jdbc:mysql://hostname:3306/"
                        - PostgreSQL: "jdbc:postgresql://hostname:5432/"
                        - Oracle: "jdbc:oracle:thin:@hostname:1521:"
                        Note: Database name is specified separately in hostedDBName
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>

            <xs:attribute name="hostedDBName" type="xs:string" use="optional">
                <xs:annotation>
                    <xs:documentation>
                        Database name/schema for hosted configuration.
                        Required when IsHosted="1"
                        Examples: "iw_ide", "hostedprofiles", "interweave_config"
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>

            <xs:attribute name="hostedUser" type="xs:string" use="optional">
                <xs:annotation>
                    <xs:documentation>
                        Database username for hosted database connection.
                        Required when IsHosted="1"
                        Example: "iw_admin", "db_user"
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>

            <xs:attribute name="hostedPassword" type="xs:string" use="optional">
                <xs:annotation>
                    <xs:documentation>
                        Database password for hosted database connection.
                        Required when IsHosted="1"
                        Security Note: Consider using encrypted passwords in production.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>

            <!-- Advanced Configuration (Optional) -->
            <xs:attribute name="MaxConcurrentFlows" type="xs:positiveInteger" use="optional">
                <xs:annotation>
                    <xs:documentation>
                        Maximum number of concurrent flow executions.
                        Limits parallel processing to prevent resource exhaustion.
                        Default: 20
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>

            <xs:attribute name="FlowExecutionTimeout" type="xs:positiveInteger" use="optional">
                <xs:annotation>
                    <xs:documentation>
                        Timeout in seconds for individual flow executions.
                        Prevents hung flows from blocking the scheduler.
                        Default: 600 (10 minutes)
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>

            <xs:attribute name="RetryAttempts" type="xs:nonNegativeInteger" use="optional">
                <xs:annotation>
                    <xs:documentation>
                        Number of retry attempts for failed flows.
                        Default: 3
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>

            <xs:attribute name="RetryDelay" type="xs:positiveInteger" use="optional">
                <xs:annotation>
                    <xs:documentation>
                        Delay in milliseconds between retry attempts.
                        Default: 5000 (5 seconds)
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <!-- Custom type for URL strings (can be empty or valid URL) -->
    <xs:simpleType name="URLType">
        <xs:annotation>
            <xs:documentation>
                URL string that can be either empty ("") or a valid HTTP/HTTPS URL.
                Empty strings are used to indicate disabled/unconfigured endpoints.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="(https?://[^\s]+)?">
                <xs:annotation>
                    <xs:documentation>
                        Matches either:
                        - Empty string: ""
                        - HTTP URL: "http://hostname:port/path"
                        - HTTPS URL: "https://hostname:port/path"
                    </xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>

    <!-- Custom type for boolean flags (0 or 1) -->
    <xs:simpleType name="BooleanFlag">
        <xs:annotation>
            <xs:documentation>
                Boolean value represented as "0" (false) or "1" (true).
                This format is used throughout InterWeave configuration files.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="0">
                <xs:annotation>
                    <xs:documentation>False / Disabled / Secondary</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="1">
                <xs:annotation>
                    <xs:documentation>True / Enabled / Primary</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
