schemas/ts-config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

    <xs:annotation>
        <xs:documentation>
            XSD Schema for InterWeave Transformation Server Configuration (config.xml)

            This schema defines the structure for transformation server configuration files
            located at: workspace/{project}/configuration/ts/config.xml

            The Transformation Server is responsible for converting data between integration
            point formats using XSLT transformations and the internal IW XML format.

            Version: 1.0
            Created: 2026-01-08
        </xs:documentation>
    </xs:annotation>

    <!-- Root element for Transformation Server Configuration -->
    <xs:element name="TransformationServerConfiguration">
        <xs:annotation>
            <xs:documentation>
                Root configuration element for the Transformation Server.
                Defines server behavior, logging, caching, and performance settings.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute name="Name" type="xs:string" use="required">
                <xs:annotation>
                    <xs:documentation>
                        Unique identifier for this transformation server instance.
                        Example: "TS1", "TS_Production", "TS_Dev"
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>

            <xs:attribute name="LogLevel" use="required">
                <xs:annotation>
                    <xs:documentation>
                        Logging verbosity level for transformation operations.
                        Controls the amount of detail captured in transformation logs.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="LOG_MINIMUM">
                            <xs:annotation>
                                <xs:documentation>Log only critical errors and startup/shutdown events</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="LOG_NORMAL">
                            <xs:annotation>
                                <xs:documentation>Log errors, warnings, and major operations</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="LOG_VERBOSE">
                            <xs:annotation>
                                <xs:documentation>Log detailed information including transformation steps</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="LOG_DEBUG">
                            <xs:annotation>
                                <xs:documentation>Log all operations including variable values and XML content</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>

            <xs:attribute name="IsPrimary" type="BooleanFlag" use="required">
                <xs:annotation>
                    <xs:documentation>
                        Indicates if this is the primary transformation server.
                        Set to "1" for primary, "0" for secondary/backup servers.
                        Only one server should be primary in a cluster configuration.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>

            <xs:attribute name="IsTimeStamping" type="BooleanFlag" use="required">
                <xs:annotation>
                    <xs:documentation>
                        Enable timestamp tracking for transformations.
                        Set to "1" to add timestamps to transformation outputs, "0" to disable.
                        Useful for debugging and auditing transformation performance.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>

            <xs:attribute name="IsCompiledMapping" type="BooleanFlag" use="required">
                <xs:annotation>
                    <xs:documentation>
                        Use pre-compiled XSLT mappings for better performance.
                        Set to "1" to use compiled mappings, "0" to parse XSLT at runtime.
                        Compiled mappings are faster but require compilation step during deployment.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>

            <xs:attribute name="BufferSize" type="xs:positiveInteger" use="required">
                <xs:annotation>
                    <xs:documentation>
                        Buffer size in kilobytes for XML document processing.
                        Typical values: 512, 1024, 2048, 4096
                        Larger buffers improve performance for large documents but consume more memory.
                        Recommended: 1024 for most use cases
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>

            <xs:attribute name="IsHosted" type="BooleanFlag" use="required">
                <xs:annotation>
                    <xs:documentation>
                        Indicates if running in hosted/multi-tenant mode.
                        Set to "1" for hosted environments with database configuration, "0" for standalone.
                        Hosted mode requires database connection for configuration management.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>

            <!-- Optional attributes for advanced configurations -->
            <xs:attribute name="MaxConcurrentTransformations" type="xs:positiveInteger" use="optional">
                <xs:annotation>
                    <xs:documentation>
                        Maximum number of concurrent XSLT transformations.
                        Limits parallel processing to prevent resource exhaustion.
                        Default: 10
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>

            <xs:attribute name="TransformationTimeout" type="xs:positiveInteger" use="optional">
                <xs:annotation>
                    <xs:documentation>
                        Timeout in seconds for individual transformations.
                        Prevents hung transformations from blocking the server.
                        Default: 300 (5 minutes)
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>

            <xs:attribute name="CacheEnabled" type="BooleanFlag" use="optional">
                <xs:annotation>
                    <xs:documentation>
                        Enable caching of compiled XSLT stylesheets.
                        Set to "1" to cache compiled stylesheets for reuse, "0" to disable.
                        Default: 1
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>

            <xs:attribute name="CacheSize" type="xs:positiveInteger" use="optional">
                <xs:annotation>
                    <xs:documentation>
                        Maximum number of compiled stylesheets to cache in memory.
                        Default: 50
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <!-- Custom type for boolean flags (0 or 1) -->
    <xs:simpleType name="BooleanFlag">
        <xs:annotation>
            <xs:documentation>
                Boolean value represented as "0" (false) or "1" (true).
                This format is used throughout InterWeave configuration files.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="0">
                <xs:annotation>
                    <xs:documentation>False / Disabled</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="1">
                <xs:annotation>
                    <xs:documentation>True / Enabled</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
